<ul>
				
					<li>		
	<a rel="nofollow" target="_blank" href="http://m.unotv.com">
		UNOTV Mobile
		
		
		
		
		<span class="subheader"> - online - September 2013</span>
	</a>
</li>
				
					<li>		
	<a rel="nofollow" target="_blank" href="http://bloganostra.com">
		This Site :)
		
		
		
		
		<span class="subheader"> - online - August 2013</span>
	</a>
</li>
				
					<li>		
	<a rel="nofollow" target="_blank" href="http://www.unotvbites.com">
		UNOTV Bites redesign
		
		
		
		
		<span class="subheader"> - online - July 2013</span>
	</a>
</li>
				
					<li>		
	<a rel="nofollow" target="_blank" href="http://www.claro.com.pe/wps/portal/pe/sc/personas/centro-de-ayuda">
		Centro de Ayuda Claro
		
		
		
		
		<span class="subheader"> - online - June 2013</span>
	</a>
</li>
				
					<li>		
	<a rel="nofollow" target="_blank" href="http://www.claro.com.pe">
		Claro.com
		
		
		
		
		<span class="subheader"> - online - September 2012</span>
	</a>
</li>
				
					<li>		
	<a rel="nofollow" target="_blank" href="http://www.dosisdigital.com">
		Dosis Digital 2013
		
		
		
		
		<span class="subheader"> - online - August 2012</span>
	</a>
</li>
				
					<li>		
	<a rel="nofollow" target="_blank" href="http://www.wikimexico.com">
		WikiMéxico
		
		
		
		
		<span class="subheader"> - online - July 2012</span>
	</a>
</li>
				
					<li>		
	<a rel="nofollow" target="_blank" href="http://www.unotv.com">
		UNO Elecciones
		
		
		
		
		<span class="subheader"> - rebrand - February 2012</span>
	</a>
</li>
				
			</ul>