<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="google-translate-customization" content="2584634f42b2280a-d956e5ef8feccb85-ga8dd0cbf30b2daa1-f"></meta>
	<title>Spécialiste UX | Ulises Rojas</title>
	<link rel="stylesheet" href="/stylesheets/app.css" />
	
	<script src="/javascripts/vendor/custom.modernizr.js"></script>

</head>
<body>

	<div class="row">
		
	
		<div class="large-12 columns">
			{% include translate.html %}
			
			{% include prev.html %}
			

			<h1>{{ page.title }}</h1>

			<section class="text">
				{{ content }}
			</section>
			
				{% include next.html %}
			
		</div>

	</div>
	<div class="row">
		{% include footer.html %}
	</div>
	{% include scripts.html %}
</body>
</html>